.wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $lightblue-clr;

    @media (max-width: 94em) {
        flex-wrap: wrap;
        margin: 5rem 0;
    }
}

.layout {
    display: grid;
    grid-template-areas: 
        "first first second third"
        "forth fifh fifh third";

    grid-template-columns: repeat(4, 15rem);
    grid-template-rows: 35vh 35vh;
    gap: 1rem;

    margin: 0 12.5rem;

    & .first {
        grid-area: first;
    }

    & .second {
        grid-area: second;
    }

    & .third {
        grid-area: third;
    }

    & .forth {
        grid-area: forth;
    }

    & .fifh {
        grid-area: fifh;
    }

    @media (max-width: 94em) {
        grid-template-areas: 
            "first"
            "second"
            "third"
            "forth"
            "fifh";

        grid-template-columns: repeat(4, 100%);
        padding-bottom: 3rem;
    }
}