// COLORS

$violet-clr: hsl(263, 55%, 52%);
$darkgrey-clr: hsl(217, 19%, 35%);
$darkblue-clr: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$lightgray-clr: hsl(0, 0%, 81%);
$lightblue-clr: hsl(210, 46%, 95%);

